.main-content {
    height: 100vh;
}

img {
    width: 450px;
    height: auto
}

.login-btn {
    background-color: #4E73B9;
    border-color: #4E73B9;
    color: white;
}

.link-primary {
    color: #4E73B9;
}

.card {
    width: 380px;
}

.error-msg {
    font-size: 14px;
    color: red
}

@media (max-width: 1002px) {
    .flex-row {
        flex-direction: column !important;
    }
    img {
        width: 250px;
        height: auto;
        margin-top: 100px;
    }
}