<div class=" flex-row main-content d-flex justify-content-center align-items-center m-auto ">
    <div class="sign-up-image m-4 ">
        <img src="assets/page-images/register.png" alt="Sign-up " border="0 ">
    </div>
    <div class="card">
        <form class="m-3 " [formGroup]="registerForm">
            <h2 class="p-3 text-center">Register</h2>
            <div class="form-group m-3">
                <label for="inputName4">Name</label>
                <input type="name" class="form-control" formControlName="fcName">
            </div>
            <div class="form-group m-3">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" formControlName="fcEmail">
            </div>
            <div class="form-group  m-3">
                <label for="inputEmail4">Age</label>
                <input type="number" class="form-control" formControlName='fcAge'>
            </div>
            <div class=" form-group m-3 ">
                <label for="inputPassword4 ">Password</label>
                <input type="password" class="form-control" formControlName="fcPassword">
            </div>
            <div class="form-group m-3 ">
                <label for="inputPassword4 ">Confirm Password</label>
                <input type="password" class="form-control" formControlName="fcPassword2">
            </div>

            <div class="d-flex flex-column justify-content-around mt-4 ">
                <div style="height: 50px;">
                    <p class="text-center error-msg">{{requestResult}}</p>
                </div>
                <button (click)="createAccount(success)" type="submit " class="login-btn btn btn-outline-primary ms-3 me-3 ">Sign up</button>
                <hr class=" ms-3 me-3 ">
                <a href=" " (click)="gotoLogin()" class="link-primary m-auto ">Already have an Account? </a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>


<ng-template #success let-modal>
    <div class=" modal-header ">
        <h4 class="modal-title "><span class="text-success ">Register Success</span> </h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">

        <h6> Welcome! <strong>{{successUsername}}</strong>, Thank you for your time in exploring my AppsDev Midterm Project</h6>
        <h6 class="text-danger fs-6"> <br>Please be ethical on modifying user data as it affect the system and the backend database.</h6>


    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-primary " (click)="gotoLogin(); modal.close( 'Close click')">Login</button>
        <button type="button " class="btn btn-outline-primary " (click)="modal.close( 'Close click') ">Not now</button>
    </div>
</ng-template>