.inputs {
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 4px;
    padding-bottom: 4px;
}

input {
    padding: 10px 5px;
}

h1 {
    margin: auto;
    padding-bottom: 20px;
}

.card {
    width: 20rem;
}

.hello_image {
    background-image: url("https://ibb.co/dp4PgtJ");
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    height: 95vh;
}

.error-msg {
    font-size: 14px;
    color: red
}

img {
    width: 550px;
    height: auto
}

a:hover {
    cursor: pointer;
}

@media (max-width: 1002px) {
    .flex-row {
        flex-direction: column !important;
    }
    img {
        width: 350px;
        height: auto
    }
}