<div class="d-flex welcome">
    <div class="onboarding d-flex  d-row align-items-stretch flex-column ">

        <img src="assets/welcome/tabi-purple.png " alt="app logo " class="tabi ">
        <p class>Chat with friends online anywhere in the world <br>with Tabi an online free chat app website.</p>
        <img src="assets/welcome/chatting.png " alt="chat img " class="chatting ">
        <div class="footer-text ">
            <p class="text-muted text-light">
                Inspired by Discord | Final Project in AppsDev
                <br> Martin Erickson Lapetaje | BSCS -3 <br> USJ-R &copy; 2021
            </p>
        </div>


    </div>

    <div class="login">
        <router-outlet></router-outlet>
    </div>
</div>