<!-- <div class="main-content ">
    <div class="box-1"></div>
    <div class="box-2"></div>
    <div class=" box-3"></div>
</div> -->

<div class=" main-content ">
    <div class="hello_image ">
        <img src="https://i.ibb.co/FY45VXq/Hello.png " alt="Hello " border="0 ">
    </div>
    <div class="login ">
        <h1>Hello World</h1>
        <div class="inputs ">
            <label for="EMAIL ">Email:</label>
            <input type="text " name="EMAIL ">
            <label for="PASSWORD ">Password:</label>
            <input type="password" name="PASSWORD ">
            <div class="button-login ">
                <button>Login</button>
            </div>
        </div>
    </div>
</div>