th,
td {
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
}

th {
    font-weight: normal;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.btn-option:hover,
.btn-option:focus,
.btn-option:active,
.btn-option.active,
.open>.dropdown-toggle.btn-option {
    border-color: grey;
    /*set the color you want here*/
}

.below-navbar {
    margin: 4vh;
    width: auto;
}