<div class="main-container d-flex flex-row bg-white">
    <div class=" left-side ">
        <div class="d-flex justify-content-start ">
            <h1><b>Edit Profile</b></h1>
        </div>

        <div class="d-flex flex-column align-items-center left-container  justify-content-center">
            <img class="" src="assets/icons/profile-fin.jpg " alt="avatar image ">
            <div class="pt-5">
                <div class="buttons">
                    <button mat-flat-button class="button ">Upload Photo</button>
                </div>
                <div class="buttons">
                    <button mat-flat-button class="button ">Reset Password</button>
                </div>
            </div>
        </div>

    </div>

    <div class="right-side d-flex flex-column justify-content-center ">

        <form class="m-3 " [formGroup]="editProfile ">

            <div class="form-group m-4 ">
                <label for="inputName4 ">Name</label>
                <input type="name" class="form-control " formControlName="fcName" placeholder="{{user.name}}">

            </div>
            <div class="form-group m-4 ">
                <label for="inputEmail4 ">Email</label>
                <input type="email " class="form-control " formControlName="fcEmail " placeholder="{{user.email}}">
            </div>
            <div class="form-group m-4 ">
                <label for="inputEmail4 ">Age</label>
                <input type="number " class="form-control " formControlName='fcAge' placeholder="{{user.age}}">
            </div>
            <div class=" d-flex justify-content-end mr-4 mt-4 ">
                <button mat-flat-button class="buttons-save ">Save</button>
            </div>
        </form>

    </div>
</div>
<!-- <p>{{user| json}}</p> -->
<!-- <h1>Hello User</h1>
 -->