<div class="main-container d-flex flex-row bg-white">
    <div class=" left-side ">
        <div class="d-flex justify-content-start ">
            <h1><b>Edit Profile</b></h1>
        </div>
        <div class="d-flex flex-column align-items-center left-container  justify-content-center">
            <img class="" src="{{url | async }}" alt="avatar image ">
            <div class="pt-5">
                <div class="buttons">
                    <button mat-flat-button type="file" accept=".png,.jpg" class="button" (click)="fileInput.click()" >
                        Change Photo </button>
                        <input #fileInput type="file" accept=".png,.jpg" (change)="uploadFile($event)" style="display:none;" />
                </div>
                <div class=" buttons ">
                    <button mat-flat-button class="button " (click)="resetPass() " (click)="openDialogResetPass()">Reset Password</button>
                </div>
            </div>
        </div>
    </div>

    <div class="right-side d-flex flex-column justify-content-center ">
        <p class="error-msg text-center" >{{requestResult}}</p>
        <form class="m-4 " [formGroup]="editProfile ">
            <div class="form-group mt-4 ">
                <label for="inputEmail4 "><b>Email</b></label>
                <input disabled class="form-control "  placeholder="{{user.email}}" >
            </div>
            <div class="form-group mt-4 ">
                <label for="inputName4 "><b>Name</b></label>
                <input type="name" class="form-control " formControlName="fcName" placeholder="{{user.name}} ">
            </div>
            <div class="form-group mt-4 ">
                <label for="inputEmail4 "><b>Age</b></label>
                <input type="number" class="form-control " formControlName='fcAge' placeholder="{{user.age}} ">
            </div>
            <div class=" d-flex justify-content-end  mt-4 ">
                <button mat-flat-button class="buttons-save " (click)="updateUser()">Save</button>
            </div>
        </form>

    </div>
</div>
<!-- <p>{{user| json}}</p> -->
<!-- <h1>Hello User</h1>
 -->