<div class="body">
    <div class=" user-name p-3  align rounded shadow-sm">
        <h1 class="ml-2 font-weight-bold">Create Message</h1>
    </div>
    <div class="p-5 chat-body overflow-auto ">
        <form class="m-3">
            <div class="form-group m-3 ">
                <label>Email</label>
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <input type="name " class="form-control email">
                    </div>
                    <div>
                        <button mat-button class="ml-2 ">Check</button>
                    </div>
                </div>
            </div>
            <div class="form-group m-3 ">
                <label>Message</label>
                <div>
                    <textarea class="p-2" name="message" id="" rows="10"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button mat-button class="mt-2 align-self-end">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>