<div class="body">
    <div class=" user-name p-3  align rounded shadow-sm">
        <h1 class="ml-2 font-weight-bold">John Doe</h1>
    </div>
    <div #scrollBottom class=" p-2 chat-body overflow-auto ">

        <!-- <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/1.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">Martin Erickson <span class="time">12/21/2201</span> </p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div> -->

        <!-- <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/4.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">John Doe <span class="time">12/21/2201</span> </p>
                <p>Ea, inventore? </p>
                <p>Maiores magnam consequatur sequi recusandae repellendus aut unde quas molestias eligendi explicabo!</p>
                <p>Consequatur soluta nulla fugit officia deserunt quo incidunt aliquid, neque odit doloribus?</p>
                <p>Tenetur totam fugit voluptatem quo consectetur id tempore sit eius reprehenderit ratione!</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/1.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">Martin Erickson <span class="time">12/21/2201</span> </p>
                <p> Quos consequuntur eos aliquid nobis quae sed omnis aperiam laboriosam, nam maiores!.</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/4.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">John Doe <span class="time">12/21/2201</span> </p>
                <p>Animi magni odio recusandae rem enim nostrum voluptate facilis consectetur blanditiis placeat.</p>
            </div>
        </div> -->

        <!-- <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/1.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">Martin Erickson <span class="time">12/21/2201</span> </p>
                <p>At provident facilis beatae impedit optio suscipit fugiat harum cupiditate tenetur placeat!</p>
                <p>Quam, magnam tempore aut autem ipsa dolorem iure. Pariatur neque commodi, ullam eius quo earum corrupti inventore hic enim tempora atque doloremque.</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/4.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">John Doe <span class="time">12/21/2201</span> </p>
                <p>Minus totam, sit delectus animi doloribus voluptate odio itaque iste. Debitis, necessitatibus!</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/1.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">Martin Erickson <span class="time">12/21/2201</span> </p>
                <p>Rempore aut autem ipsa dolorem iure, ullam eius quo earum corrupti inventore hic enim tempora atque doloremque.</p>
                <p>Provident facilis beatae impedit optio suscipit fugiat harum cupiditate</p>
                <p>Accusantium adipisci corrupti dolorum provident.</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/4.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">John Doe <span class="time">12/21/2201</span> </p>
                <p>Sit amet consectetur adipisicing elit. Dolorum deleniti amet optio veritatis accusantium? Odit repellat fuga dicta accusantium id.</p>
                <p>Exercitationem dicta laborum. Asperiores possimus laboriosam vero adipisci, modi atque? Omnis blanditiis aspernatur sit!</p>
            </div>
        </div>

        <div class="flex-row d-flex flex-grow-1">
            <img class="m-2" src="assets/profile/1.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name">Martin Erickson <span class="time">12/21/2201</span> </p>
                <p> Quos consequuntur eos aliquid nobis quae sed omnis aperiam laboriosam, nam maiores!.</p>
            </div>
        </div> -->

        <div class="flex-row d-flex flex-grow-1 " *ngFor="let msg of messagesOutput; index as i; ">
            <img class="m-2" src="assets/profile/4.png" alt="profile">
            <div class="ml-2 mt-3 flex-column">
                <p class="msg-name"> {{ msg.userName }} <span class="time">{{ msg.date }}</span> </p>
                <p *ngFor="let message of msg.messages"> {{ message }} </p>
                <!-- <p> {{ msg.message }} </p> -->
            </div>
        </div>

    </div>

    <div class="p-2  shadow-lg send-msg d-flex flex-row  justify-content-center align-items-center">
        <div class="text-field">
            <input type="text" placeholder="Type a message..." class="p-2">
        </div>
        <div>
            <button mat-button class="ml-2"> Send</button>
        </div>
    </div>
</div>