<div class="forget-pass flex-column d-flex justify-content-center align-items-center">
    <p class="error-msg ">{{requestResult}}</p>
    <div class="container-box d-flex flex-column justify-content-start pb-4">
        <h1 class="text-white header">Reset Password</h1>
        <p class="text-white">Enter your email address to reset a request a password reset.</p>
    </div>


    <mat-form-field appearance="fill" class="forum  pt-2 ">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com " [formControl]="fcEmail" type="email">
    </mat-form-field>


    <div class="container-box  pt-1 pb-4">
        <button mat-flat-button class="button" (click)="resetPass() "><b>Send Reset Link</b> </button>
    </div>
    <p class=" text-white pb-3 ">
        <a [routerLink]="[ '/login'] " class=" text-white pb-3 ">
            Back to login </a>
    </p>

    <div class="h-10 bg-primary ">
        <hr>
    </div>
</div>